// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  // background-color: red;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: @font-1;
}

// begin new CSS //
// define variables //

@font-1: Montserrat, "sans-serif";

@font-2: fira sans, "sans-serif";

@font-stack: Arial, "sans-serif";

@color-blueish: #190e4e;

@color-blackish: #131111;

@color-grayish: #c4bfbf;

@color-magentaish: #cc21aa;

@tablet: ˜ "(max-width: 515px)";

@mobile: ` "(max-width: 500px)";

// Mixins //

.button() {
  text-decoration: none;
  padding: 20px 45px;
  background-color: @color-blueish;
  border-radius: 5px;
  font-family: @font-1;
  font-size: 13pt;
}

.banner-box() {
  display: flex;
  flex-flow: row wrap;
  font-size: 40;
  text-decoration: none;
  line-height: 5;
  justify-self: center;
  align-self: center;
  width: 15%;
}

.center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-justify() {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.left-justify() {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.bordered() {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.debug-border() {
  border: 2px solid red;
}

.sexy-box() {
  height: 330px;
  width: 550px;
  background: linear-gradient(
    to right,
    #1e5799 0%,
    #207cca 0%,
    #2989d8 38%,
    #2989d8 38%,
    #e0e1e2 89%,
    #e0e1e2 89%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e0e1e2',GradientType=1 ); /* IE6-9 */
}

// Nested CSS //

header {
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 12vh;
    width: 100%;

    a {
      padding-left: 5%;
      padding-right: 4%;
      padding-top: 3%;
      padding-bottom: 1%;
      .banner-box;
      &:hover {
        background-color: @color-blackish;
        color: @color-grayish;
      }
    }
  }

  @media @mobile {
    flex-flow: colummn wrap;
    justify-content: center;
    
  }
}

.top-box {
  margin-top: 3vh;
  float: right;
  text-align: right;
  .sexy-box();
  opacity: 0.8;

  h1 {
    padding: 8%;
    padding-bottom: 0%;
    font-size: 300%;
  }

  p {
    justify-self: flex-start;
    margin-right: 10%;
  }

  .contact-button {
    .button();
    margin-top: 7%;
    margin-right: 43%;
    margin-bottom: 5%;
  }
}

.offset-box {
  margin-left: 30%;
  margin-top: 14%;
  .sexy-box();

  h2 {
    margin-left: 25px;
    padding-top: 5%;
    width: 75%;
    font-size: 150%;
  }
}

.top-half {
  -left: 6%;
  margin-top: 6%;
  margin-left: 3%;
  .left-justify();

  .bordered();

  p {
    margin: 3% 2%;
  }

  .intro-main {
    margin: 5% 0%;
  }
}

.bottom-half {
  display: flex;
  #skills-main {
    .right-justify();
    width: 100%;
    h2 {
      font-size: 33pt;
      padding-left: 10%;
      padding-top: 5%;
    }
    ul {
      list-style: disc outside none;
      line-height: 300%;
      font-size: 150%;
      margin-left: 20%;
      margin-right: 5%;
      margin-top: 5%;
    }
  }
  border-bottom: 2px solid black;

  #work-history {
    width: 45vw .left-justify();

    line-height: 250%;

    h2 {
      font-size: 33pt;
      line-height: 130%;
      margin-left: 15%;
      margin-bottom: 4%;
      margin-top: 2%;
    }

    ul {
      list-style: disc outside none;
      margin-left: 6%;
      li {
        margin-top: 4%;
      }
    }
  }
}