// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;

  // background-color: red;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: inline-block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 1400px;
  font-family: @font-1;
}

// begin new CSS //
// define variables //

@font-1: Montserrat, 'sans-serif';

@font-2: fira sans, 'sans-serif';

@font-stack: Arial, 'sans-serif';

@color-blueish: #190e4e;

@color-blackish: #131111;

@color-grayish: #c4bfbf;

@color-magentaish: #cc21aa;


// Mixins //

.button() {
  text-decoration: none;
  padding: 20px 45px;
  background-color: #131111;
  border-radius: 10px;
  font-family: @font-1;
  font-size: 13pt;
  opacity: 0.95;

  a {
    text-decoration: none;
    color: #c4bfbf;
  }

  &:hover {
    background-color: @color-grayish;
  }
}

.banner-box() {
  display: flex;
  flex-flow: row wrap;
  font-size: 40;
  text-decoration: none;
  line-height: 5;
  justify-self: center;
  align-self: center;
  width: 15%;
}

.center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-justify() {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.left-justify() {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.bordered() {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.debug-border() {
  border: 2px solid red;
}

.sexy-box() {
  height: 550px;
  width: 750px;
  background: linear-gradient(to right,
      #1e5799 0%,
      #207cca 0%,
      #2989d8 38%,
      #2989d8 38%,
      #e0e1e2 89%,
      #e0e1e2 89%);
  border-radius: 30px;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e0e1e2',GradientType=1 ); /* IE6-9 */
}


// Nested CSS //
header {
  height: 95px;

  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: @color-blueish;
    z-index: 3;

    .nav-item {
      height: 100%;
      width: 12%;
      display: flex;
      align-content: center;
      justify-items: center;

      a {
        white-space: nowrap;
        text-decoration: none;
        color: #ffffff;
        margin-left: 4%;
      }

      &:hover {
        background-color: #ffffff;
        color: black;

        a {
          color: black;
        }
      }


      @media screen and (max-width: 550px) {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 2px solid white;
      }

    }

    @media screen and (max-width: 550px) {
      flex-flow: column nowrap;
      margin: 0;
      text-align: center;
      height: 300px;
    }
  }

}

.wrapper {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-image: url('../Assets/Images/IMG_4971.jpeg');
  background-size: percentage(1.8%);
  background-position-y: percentages(.53);
  opacity: .9;
  background-color: #000000;
  background-repeat: no-repeat;
  color: #ffffff;

  p {
    margin: 3% 2%;
  }

  @media screen and (max-width: 768px) {}

  // mobile break-point.

  @media screen and (max-width: 550px) {
    flex-flow: colummn wrap;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
  }

  // lower header styling

  .top-box {
    margin-top: 5%;
    margin-left: 13%;
    justify-self: flex-start;
    display: flex;
    .center();
    .sexy-box();
    opacity: .9;
    position: center;
    z-index: 2;
    padding-bottom: 80px;
    filter: drop-shadow(8px 8px 10px #000000);

    h1 {
      padding: 8%;
      padding-bottom: 0%;
      font-size: 300%;
    }

    p {
      justify-self: flex-start;
      margin-right: 10%;
    }

    @media screen and (max-width: 750px) {
      margin: 3%;
      width: 95%;
    }

    @media screen and (max-width: 550px) {
      margin: 0;
      width: 100%;
      transform: scale(1);
      height: auto;
    }

    .contact-button {
      .button();

      margin: 5% 35%;
    }
  }

  .offset-box {
    margin-left: 45%;
    margin-top: 13%;
    padding-right: 10%;
    .sexy-box();
    position: absolute;
    z-index: 1;
    opacity: .8;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;

    filter: drop-shadow(8px 8px 10px #000000);

    h2 {
      font-size: 130%;
      opacity: 1;
      margin-bottom: 20%;
      color: #000000
    }


    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .top-half {

    margin-top: 30%;
    padding-left: 4%;
    padding-right: 4%;
    .left-justify();

    .bordered();

    .intro-main {
      margin: 5% 0%;
    }
  }

  .bottom-half {
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 200px;

    #skills-main {
      text-align: center;
      width: 100%;

      h2 {
        font-size: 33pt;
      }

      ul {
        list-style: disc outside none;
        line-height: 300%;
        font-size: 150%;
        margin-left: 20%;
        margin-right: 5%;
        margin-top: 5%;
      }
    }

    border-bottom: 2px solid black;

    #work-history {
      width: 45vw .left-justify();

      line-height: 250%;

      h2 {
        font-size: 33pt;
        line-height: 130%;
        margin-left: 15%;
        margin-bottom: 4%;
        margin-top: 2%;
      }

      ul {
        list-style: disc outside none;
        margin-left: 6%;

        li {
          margin-top: 4%;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    width: 100%;

    #insta {
      margin: 5% 1%;
      transform: scale(.7);
      filter: grayscal(100%);
    }

    #linkedin {
      margin: 5% 1%;
      transform: scale(.7);
      filter: grayscal(100%);
    }

    #twitter {
      margin: 5% 1%;
      transform: scale(.7);
      filter: grayscal(100%);
    }



  }


}